.App {
  height: 100%;
  min-height: 100vh;
}
@keyframes loadingBar {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(35%);
  }
  100% {
    transform: translateX(160%);
  }
}